<div class="container">

  <form [formGroup]="studentForm">
    <h4 class="modal-title">Thông tin sinh viên</h4>
    <div class="modal-body">
      <div class="form-group">
        <label>Mã SV</label><br>
        <input type="text" formControlName="masv" class="form-control" required />
      </div>
      <div class="form-group">
        <label>Họ đệm:</label><br>
        <input type="text" formControlName="hodem" class="form-control" required />
      </div>
      <div class="form-group">
        <label>Tên:</label><br>
        <input type="text" formControlName="ten" class="form-control" required />
      </div>
      <div class="form-group">
        <label>Ngày sinh:</label><br>
        <input type="date" formControlName="ngaysinh" class="form-control" required />
      </div>
      <div class="form-group">
        <label>Giới tinh:</label><br>
        <input type="text" formControlName="gioitinh" class="form-control" required />
      </div>
      <div class="form-group">
        <label>Mã lớp:</label><br>
        <input type="text" formControlName="malop" class="form-control" required />
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!studentForm.valid">OK</button>
  </form>
</div>
